<div class="main-content">
  <ul ng-if="!showStories">
    <li>
      <a href="#geology">geology</a>
    </li>
    <li>
      <a href="#bathroom">bathroom</a>
    </li>
    <li>
      <a href="#cafeteria">cafeteria</a>
    </li>
    <li>
      <a href="#bombs">bombs</a>
    </li>
    <li>
      <a href="#infrastructure">infrastructure</a>
    </li>
    <li>
      <a href="#foodcart">food cart</a>
    </li>
    <li>
      <a href="#westbeth">westbeth</a>
    </li>
    <li class="colored">
      <a href="#stories">STORIES</a>
    </li>
    <li>
      <a href="#labs">labs</a>
    </li>
    <li>
      <a href="#futures">futures</a>
    </li>
    <li>
      <a href="#sculpture">sculpture</a>
    </li>
    <li>
      <a href="#scripts">scripts</a>
    </li>
    <li>
      <a href="#pipes">pipes</a>
    </li>

  </ul>
  <ul ng-if="showStories">
    <li>
      <a href="#story/1">story 1</a>
    </li>
    <li>
      <a href="#story/2">story 2</a>
    </li>
    <li>
      <a href="#story/3">story 3</a>
    </li>
    <li>
      <a href="#story/4">story 4</a>
    </li>
    <li>
      <a href="#story/5">story 5</a>
    </li>
    <li>
      <a href="#story/6">story 6</a>
    </li>
    <li>
      <a href="#story/7">story 7</a>
    </li>
    <li>
      <a href="#story/8">story 8</a>
    </li>
    <li>
      <a href="#story/9">story 9</a>
    </li>
    <li>
      <a href="#story/10">story 10</a>
    </li>
    </ul>
  </div>
